<section class="todoapp">
  <header class="header">
    <h1><%= @list.name %></h1>
    <input class="new-todo" placeholder="Add an item..." autofocus="">
  </header>
  <section class="main">
    <input class="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <ul class="todo-list">
      <li>
        <div class="view">
          <label>Milk</label>
        </div>
      </li>
      <li>
        <div class="view">
          <label>Cookies</label>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer">
  </footer>
</section>
